@using me.lisen.Models;
@model List<Customer>
@{
    ViewBag.Title = "首页";
}
<h2>@ViewContext.RouteData.Values["Controller"]/@ViewContext.RouteData.Values["Action"]</h2>
<div class="container">
   @foreach (var customer in Model)
   {
    <div class="row" style="margin-bottom:5px;">
        <div class="col-md-6"><span class="form-control">@customer.CompanyName</span></div>
        <div class="col-md-6"><span class="form-control">@customer.Region</span></div>
    </div>
   }
</div>
